<!DOCTYPE html>
<html lang="en">
  <body>
    <%= render 'layouts/header'%>
     <div class="container">
      <div class="row">
        <%= form_tag("/restaurants/get_results", method: "post") do %>
          <div class="col-sm-2">
            <%= select_tag :city, options_for_select(@cities) , {:class => 'form-control'}%>
          </div>
          <div class="col-sm-4">
              <%= text_field_tag :search, "", class: 'form-control' %>
          </div>
          <div class="col-sm-1">
            <%= button_tag raw("<i class=\"glyphicon glyphicon-search\"></i>"), class: 'form-control' %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
